Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

ruff:
  name: ruff
  entry: ruff
  language: system

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

isort:
  name: (isort) Sorting import statements
  args:
  - --settings-path=pyproject.toml
  language: python
  entry: isort

black:
  name: (black) Format Python code
  args:
  - --config=pyproject.toml
  language: python
  entry: black

black-jupyter:
  name: (black-jupyter) Format jupyter notebooks
  args:
  - --config=pyproject.toml
  language: python
  entry: black

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

refactor: Avoid changing trainer parameters for anomalib tasks when not needed
  quadra/configs/experiment/base/anomaly/cfa.yaml
  quadra/configs/experiment/base/anomaly/cflow.yaml
  quadra/configs/experiment/base/anomaly/csflow.yaml
  quadra/configs/experiment/base/anomaly/draem.yaml
  quadra/configs/experiment/base/anomaly/efficient_ad.yaml
  quadra/configs/experiment/base/anomaly/fastflow.yaml
  quadra/configs/experiment/base/anomaly/padim.yaml
  quadra/configs/experiment/base/anomaly/patchcore.yaml
  quadra/configs/model/anomalib/cfa.yaml
  quadra/configs/model/anomalib/csflow.yaml
Due: ruff

refactor: Add all parameters to lightning trainer configuration
  quadra/configs/trainer/lightning_cpu.yaml
  quadra/configs/trainer/lightning_gpu.yaml
  quadra/configs/trainer/lightning_gpu_bf16.yaml
  quadra/configs/trainer/lightning_gpu_fp16.yaml
  quadra/configs/trainer/lightning_multigpu.yaml
Due: ruff

refactor: Add missing trainer parameter to avoid issues
  quadra/configs/model/anomalib/efficient_ad.yaml
Due: ruff

build: Upgrade anomalib version
  poetry.lock
  pyproject.toml
Due: ruff

refactor: Remove useless parameter
  quadra/configs/model/anomalib/efficient_ad.yaml
Due: ruff

fix: Fix model checkpoint not loaded correctly due to weights in inference mode
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add support to half precision training and export for sklearn based models
  quadra/configs/task/sklearn_classification.yaml
  quadra/tasks/classification.py
  quadra/utils/models.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Upgrade version
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update documentation and changelog
  CHANGELOG.md
  docs/tutorials/examples/sklearn_classification.md
Due: ruff

feat: Integrate half precision for patch classification
  quadra/configs/task/sklearn_classification_patch.yaml
  quadra/tasks/patch.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update documentation for patch with half precision
  docs/tutorials/examples/sklearn_patch_classification.md
Due: ruff

refactor: Add missing gradcam integration for sklearn training
  quadra/configs/task/sklearn_classification.yaml
  quadra/tasks/classification.py
  quadra/utils/models.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update documentation
  docs/tutorials/examples/sklearn_classification.md
Due: ruff

docs: Update changelog
  CHANGELOG.md
Due: ruff

bfix: Fix model summary not saved properly with half precision
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Disable gradcam for half precision training
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Integrate half precision in sklearn based task (#100)
  CHANGELOG.md
  docs/tutorials/examples/sklearn_classification.md
  docs/tutorials/examples/sklearn_patch_classification.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/task/sklearn_classification.yaml
  quadra/configs/task/sklearn_classification_patch.yaml
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/utils/models.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Solve segmentation analysis report slowdows issue
  quadra/utils/visualization.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add model upload param in core config, support onnx mlflow log
  quadra/configs/core/default.yaml
  quadra/models/evaluation.py
  quadra/utils/mlflow.py
  quadra/utils/utils.py
  tests/utilities/test_mlflow_export.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Upload version to 1.5.7
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Refactor tests
  tests/utilities/test_mlflow_export.py
Due: isort, black, interrogate

add: Print dataset split count also for segmentation
  quadra/datamodules/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Replace default core's upload_models values with export.types
  quadra/configs/core/default.yaml
Due: ruff

feat: Integrate mlfow upload for onnx models (#101)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/core/default.yaml
  quadra/datamodules/base.py
  quadra/models/evaluation.py
  quadra/utils/mlflow.py
  quadra/utils/utils.py
  quadra/utils/visualization.py
  tests/utilities/test_mlflow_export.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Upgrade version, refactor dev dependecies as groups
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update installation instructions
  README.md
Due: ruff

docs: Update changelog and breaking changes file
  BREAKING_CHANGES.md
  CHANGELOG.md
Due: ruff

docs: Update docs with latest installation changes
  docs/tutorials/contribution.md
Due: ruff

build: Update github pipelines to use groups instead of extras
  .github/workflows/docs.yaml
  .github/workflows/tests.yml
Due: ruff

fix: add check for onnx dependency
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: update importing onnx module with conditional checks
  CHANGELOG.md
  pyproject.toml
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: update the version also in init file
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: update importing onnx module with conditional checks (#105)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

Path conditions:
  ruff: any file but: ^(tests|scripts|notebooks|quadra/utils/tests)/
  jupyter-nb-clear-output: any of: \.ipynb$
  isort: any of: \.py$ and \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
