Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: (prettier) Reformat YAML files with prettier
        types: [yaml]

  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        name: Remove unused variables and imports
        language: python
        entry: autoflake
        types: [python]
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
            "--expand-star-imports",
            "--ignore-init-module-imports",
          ]
        files: \.py$
  - repo: local
    hooks:
      - id: isort
        name: (isort) Sorting import statements
        args: [--settings-path=pyproject.toml]
        language: python
        types: [python]
        files: \.py$
        entry: isort
  - repo: local
    hooks:
      - id: black
        name: (black) Format Python code
        args: [--config=pyproject.toml]
        language: python
        types: [python]
        entry: black
      - id: black-jupyter
        name: (black-jupyter) Format jupyter notebooks
        args: [--config=pyproject.toml]
        language: python
        types: [jupyter]
        entry: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [
            "--rcfile=pylintrc", # Link to your config file
          ]
        exclude: ^(tests|scripts|notebooks)/
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          [
            "--non-interactive",
            "--install-types",
            "--follow-imports=silent",
            "--ignore-missing-imports",
            "--config-file=pyproject.toml",
          ]
        exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: interrogate
        name: (interrogate) docstring coverage
        language: python
        types: [python]
        pass_filenames: false
        entry: interrogate

add: Print also task config during experiment starting phase
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

add: Align classification results with sklearn classification ones
  quadra/modules/classification/base.py
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed ed54da9 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/objects.inv
  dev/reference/CHANGELOG.html
  dev/reference/quadra/callbacks/index.html
  dev/reference/quadra/datamodules/classification.html
  dev/reference/quadra/datamodules/generic/index.html
  dev/reference/quadra/datamodules/index.html
  dev/reference/quadra/index.html
  dev/reference/quadra/losses/index.html
  dev/reference/quadra/modules/index.html
  dev/reference/quadra/tasks/classification.html
  dev/reference/quadra/tasks/index.html
  dev/reference/quadra/utils/index.html
  dev/reference/quadra/utils/patch/dataset.html
  dev/reference/quadra/utils/patch/index.html
  dev/reference/quadra/utils/patch/metrics.html
  dev/reference/quadra/utils/tests/fixtures/models/anomaly.html
  dev/reference/quadra/utils/tests/fixtures/models/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/tutorials/examples/classification.html
Due: ruff

build: Bump version 1.2.3 -> 1.2.4
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

add: Changelog
  CHANGELOG.md
Due: ruff

docs: Add changelog
  CHANGELOG.md
Due: ruff

add: Print also task config during experiment starting phase (#62)
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Add->Added in changelog
  CHANGELOG.md
Due: ruff

feat: Align classification results with sklearn classification ones (#63)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/modules/classification/base.py
  quadra/tasks/classification.py
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Automatically set class to idx if not passed from config
  quadra/datamodules/generic/imagenette.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.2.4 -> 1.2.5
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update changelog
  CHANGELOG.md
Due: ruff

Deployed 4a0cd8d to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/reference/CHANGELOG.html
  dev/reference/quadra/modules/classification/base.html
  dev/reference/quadra/modules/classification/index.html
  dev/reference/quadra/tasks/classification.html
  dev/reference/quadra/tasks/index.html
  dev/reference/quadra/utils/utils.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: ruff

fix: Fix broken classification generic experiment (#65)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/datamodules/generic/imagenette.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add automatic batch size lightning callback, is disabled by default
  quadra/configs/callbacks/default.yaml
Due: ruff

feat: Automatically skip callbacks if there's a disable parameter set to true
  quadra/tasks/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Implement automatic batch computation for sklearn based tasks
  quadra/configs/task/sklearn_classification.yaml
  quadra/configs/task/sklearn_classification_patch.yaml
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/utils/classification.py
  quadra/utils/models.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Use training threshold to generate reports instead of 0 for anomaly test with no gt
  quadra/tasks/anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Use image training threshold automatically if no labels is provided for testing
  quadra/configs/experiment/base/anomaly/inference.yaml
  quadra/tasks/anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update anomaly test documentation
  docs/tutorials/examples/anomaly_detection.md
Due: ruff

build: Bump version 1.2.5 -> 1.2.6
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add safe test execution with batch scaling for inference tasks
  quadra/tasks/anomaly.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/utils/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

test: Start setting up training mocking
  quadra/tasks/base.py
  tests/conftest.py
  tests/tasks/test_anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Add pytest-mock to requirements
  pyproject.toml
Due: ruff

fix: Support dumping model configs containing ListConfig or DictConfig
  quadra/tasks/anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix omegaconf based input_shapes not handled properly
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

test: Fix train mock for patchcore and efficient_ad, reduce test dataset dimension
  quadra/utils/tests/fixtures/dataset/anomaly.py
  tests/tasks/test_anomaly.py
Due: isort, black, pylint, interrogate

build: Add --mock-training flag to test pipeline
  .github/workflows/tests.yml
Due: ruff

fix: Fix export crash when no checkpoint is provided
  quadra/tasks/segmentation.py
Due: ruff, isort, black, pylint, mypy, interrogate

test: Add mock training possibility for segmentation tests, reduce default test datasets
  quadra/utils/tests/fixtures/dataset/segmentation.py
  tests/tasks/test_segmentation.py
Due: isort, black, pylint, interrogate

fix: Fix wrong datamodule initialization
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix breaking task when no checkpoint is available
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

test: Add mock training fixture for classification training, remove test with run_test flag set to false
  tests/tasks/test_classification.py
Due: isort, black, interrogate

test: Reduce the number of patches for patch training
  quadra/utils/tests/fixtures/dataset/classification.py
Due: isort, black, pylint, interrogate

test: Add mock training fixture to multilabel classification
  tests/tasks/test_classification.py
Due: isort, black, interrogate

docs: Fix docstrings after parameter change
  quadra/utils/tests/fixtures/dataset/classification.py
  quadra/utils/tests/fixtures/dataset/segmentation.py
Due: isort, black, pylint, interrogate
