Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, pylint, mypy, interrogate

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

fix: update a_max clip value
  quadra/tasks/anomaly.py
  quadra/utils/anomaly.py
Due: pylint, mypy, interrogate

fix: tests
  tests/tasks/test_anomaly.py
Due: interrogate

fix: Fix inconsistent anomaly score (#141)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/tasks/anomaly.py
  quadra/utils/anomaly.py
  tests/tasks/test_anomaly.py
  tests/utilities/test_anomaly_utils.py
Due: pylint, mypy, interrogate

feat: upgrade torch, onnxruntime, and sklearn
  docs/tutorials/configurations.md
  docs/tutorials/examples/classification.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/configs/experiment/base/classification/classification.yaml
  quadra/configs/scheduler/default.yaml
  quadra/configs/scheduler/rop.yaml
Due: pylint, mypy, interrogate

feat: downgrade scikit-learn to 1.6.1
  poetry.lock
  pyproject.toml
Due: none

feat: update toml
  poetry.lock
  pyproject.toml
Due: none

feat: updated github tests workflow
  .github/workflows/tests.yml
Due: none

docs: updated changelog
  CHANGELOG.md
Due: none

feat: force installing cpu-only torch for tests
  .github/workflows/tests.yml
Due: none

docs: update changelog
  .github/workflows/tests.yml
  CHANGELOG.md
Due: none

Feature/torch 2.8.0 upgrade (#144)
  .github/workflows/tests.yml
  CHANGELOG.md
  docs/tutorials/configurations.md
  docs/tutorials/examples/classification.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/configs/experiment/base/classification/classification.yaml
  quadra/configs/scheduler/default.yaml
  quadra/configs/scheduler/rop.yaml
Due: pylint, mypy, interrogate

fix: add probabilities to sklearn classification test even if GT is not present
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/trainers/classification.py
Due: pylint, mypy, interrogate

docs: update changelog
  CHANGELOG.md
Due: none

fix: add probabilities to sklearn classification test when gt is not available (#145)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/trainers/classification.py
Due: pylint, mypy, interrogate

feat: Automate tag and release creation on merge to main (#147)
  .github/workflows/auto-release.yml
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

feat: upgrade smp and tensorboard packages
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

feat: upgrade smp and tensorboard packages (#148)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

style: Apply precommits
  .github/workflows/auto-release.yml
  quadra/configs/experiment/base/anomaly/inference.yaml
  quadra/tasks/anomaly.py
  tests/tasks/test_anomaly.py
Due: pylint, mypy, interrogate

refactor: Use custom threshold if available even when test data has no gt
  quadra/tasks/anomaly.py
Due: pylint, mypy, interrogate

build: Update version and changelog
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

feat: Add custom_normalized_threshold parameter to AnomalibEvaluation (#150)
  .github/workflows/auto-release.yml
  CHANGELOG.md
  docs/tutorials/examples/anomaly_detection.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/experiment/base/anomaly/inference.yaml
  quadra/tasks/anomaly.py
  tests/tasks/test_anomaly.py
Due: pylint, mypy, interrogate

chore: Minor ui improvements to segmentation datamodule, reduce risk of ooms
  quadra/datamodules/segmentation.py
  quadra/tasks/segmentation.py
Due: pylint, mypy, interrogate

feat: Initial claude code integration of mlflow mixin to handle tracking of sklearn classification models
  quadra/configs/experiment/base/classification/sklearn_classification.yaml
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/utils/mlflow.py
  quadra/utils/utils.py
Due: pylint, mypy, interrogate

refactor: Reduce code duplication
  quadra/configs/experiment/base/classification/sklearn_classification.yaml
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

feat: Integrate mlflow tracking also for patch classification
  quadra/configs/experiment/base/classification/sklearn_classification_patch.yaml
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

feat: Refactor private names to be public
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

doc: Update sklearn tasks documentation
  docs/tutorials/examples/sklearn_classification.md
  docs/tutorials/examples/sklearn_patch_classification.md
Due: none

build: Upgrade version, update changelog
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

fix: Properly add mlflow run_name from config
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

feat: Integrate mlflow tracking for sklearn based tasks (#151)
  CHANGELOG.md
  docs/tutorials/examples/sklearn_classification.md
  docs/tutorials/examples/sklearn_patch_classification.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/experiment/base/classification/sklearn_classification.yaml
  quadra/configs/experiment/base/classification/sklearn_classification_patch.yaml
  quadra/datamodules/segmentation.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/utils/mlflow.py
  quadra/utils/utils.py
Due: pylint, mypy, interrogate

fix: Ensure that mlflow properties can only be called after initialization
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

docs: Update changelog
  CHANGELOG.md
Due: none

refactor: Improve code after ai assistant suggestions
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
