Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, pylint, mypy, interrogate

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

docs: Update changelog
  CHANGELOG.md
Due: none

build: Upgrade pipelines to support poetry 2 (#136)
  .github/workflows/docs.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Allow installing pydantic >=1.10.10
  poetry.lock
  pyproject.toml
Due: none

build: Update version
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Allow installing pydantic >=1.10.10 (#137)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Upgrade toml version
  pyproject.toml
Due: none

build: Relax pydantic constraint (#138)
  CHANGELOG.md
  pyproject.toml
Due: none

Deployed cc2706e to v2.3.3 with MkDocs 1.6.1 and mike 1.1.2
  v2.3.3/reference/CHANGELOG.html
  v2.3.3/search/search_index.json
Due: none

build: Upgrade torch and torchvision version
  poetry.lock
  pyproject.toml
Due: none

build: Upgrade to preminor version
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

feat: Allow passing validation data to model export functions, relax atol and rtol for finetuning models
  quadra/tasks/classification.py
  quadra/utils/export.py
Due: pylint, mypy, interrogate

build: Upgrade to minor version
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Setup machine for test pipeline
  .github/workflows/tests.yml
Due: none

test: Reduce number of workers for dino test
  tests/tasks/test_ssl.py
Due: interrogate

fix: Fix wrong model shapes exported in model.json
  quadra/utils/export.py
Due: pylint, mypy, interrogate

build: Try to reduce the resources used by dino test even more
  tests/tasks/test_ssl.py
Due: interrogate

feat: Torch 2.6.0 upgrade (#139)
  .github/workflows/tests.yml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/tasks/classification.py
  quadra/utils/export.py
  tests/tasks/test_ssl.py
Due: pylint, mypy, interrogate

feat: added possibility to zip models before uploading them to mlflow
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/utils/export.py
  quadra/utils/utils.py
Due: pylint, mypy, interrogate

feat: rename temp dir
  quadra/utils/utils.py
Due: pylint, mypy, interrogate

feat: rename compress_models into mlflow_zip_models
  CHANGELOG.md
  quadra/utils/utils.py
Due: pylint, mypy, interrogate

docs: update documentation
  docs/tutorials/configurations.md
  docs/tutorials/reproducibility.md
  quadra/configs/core/default.yaml
Due: none

feat: update tests pipeline
  .github/workflows/tests.yml
Due: none

feat: use pyfunc for zipped models
  quadra/utils/utils.py
Due: pylint, mypy, interrogate

feat: single mlflow.start_run for uploading models
  quadra/utils/utils.py
Due: pylint, mypy, interrogate

feat: Compress models uploaded to mlflow (#140)
  .github/workflows/tests.yml
  CHANGELOG.md
  docs/tutorials/configurations.md
  docs/tutorials/reproducibility.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/core/default.yaml
  quadra/utils/export.py
  quadra/utils/utils.py
Due: pylint, mypy, interrogate

fix: force consistent anomaly predictions after normalization
  quadra/tasks/anomaly.py
  quadra/utils/anomaly.py
  tests/utilities/test_anomaly_utils.py
Due: pylint, mypy, interrogate

fix: export before run
  quadra/tasks/anomaly.py
  quadra/tasks/base.py
Due: pylint, mypy, interrogate

docs: update changelog
  CHANGELOG.md
Due: none

chore: bump version
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

fix: execute export before test only for anomaly detection
  CHANGELOG.md
  quadra/tasks/anomaly.py
  quadra/tasks/base.py
Due: pylint, mypy, interrogate

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
