Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: (prettier) Reformat YAML files with prettier
        types: [yaml]

  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        name: Remove unused variables and imports
        language: python
        entry: autoflake
        types: [python]
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
            "--expand-star-imports",
            "--ignore-init-module-imports",
          ]
        files: \.py$
  - repo: local
    hooks:
      - id: isort
        name: (isort) Sorting import statements
        args: [--settings-path=pyproject.toml]
        language: python
        types: [python]
        files: \.py$
        entry: isort
  - repo: local
    hooks:
      - id: black
        name: (black) Format Python code
        args: [--config=pyproject.toml]
        language: python
        types: [python]
        entry: black
      - id: black-jupyter
        name: (black-jupyter) Format jupyter notebooks
        args: [--config=pyproject.toml]
        language: python
        types: [jupyter]
        entry: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [
            "--rcfile=pylintrc", # Link to your config file
          ]
        exclude: ^(tests|scripts|notebooks)/
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          [
            "--non-interactive",
            "--install-types",
            "--follow-imports=silent",
            "--ignore-missing-imports",
            "--config-file=pyproject.toml",
          ]
        exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: interrogate
        name: (interrogate) docstring coverage
        language: python
        types: [python]
        pass_filenames: false
        entry: interrogate

docs(package): update readme and package classifiers
  README.md
  pyproject.toml
Due: ruff

fix: update readme badges
  README.md
Due: ruff

fix: use div instead of p
  README.md
Due: ruff

feat: Add initial implementation of Mlflow model manager
  quadra/utils/model_manager.py
Due: ruff, isort, black, pylint, mypy, interrogate

add: Migrate vit gradcam code + pytorch export format for classification tasks
  quadra/configs/experiment/base/classification/classification.yaml
  quadra/configs/experiment/base/classification/classification_evaluation.yaml
  quadra/configs/experiment/base/classification/sklearn_classification.yaml
  quadra/configs/experiment/base/classification/sklearn_classification_test.yaml
  quadra/configs/model/classification.yaml
  quadra/configs/task/classification.yaml
  quadra/configs/task/classification_evaluation.yaml
  quadra/configs/task/sklearn_classification.yaml
  quadra/configs/task/sklearn_classification_test.yaml
  quadra/modules/classification/base.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/trainers/classification.py
  quadra/utils/classification.py
  quadra/utils/export.py
  quadra/utils/models.py
  quadra/utils/vit_explainability.py
  tests/tasks/test_classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix docs classification tutorial
  docs/tutorials/examples/classification.md
Due: ruff

fix: Fix sklearn classification docs tutorial
  docs/tutorials/examples/sklearn_classification.md
Due: ruff

fix: Set gradcam to false if imported model is torchscript
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: add try except to raise clear error in sklear-test pytorch model import
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: set device=cpu in all classification tests
  tests/tasks/test_classification.py
Due: isort, black, interrogate

feat: Improve model deletion, add registration of best model by run
  quadra/utils/model_manager.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Add xxhash to requirements
  pyproject.toml
Due: ruff

fix: readme file
  pyproject.toml
Due: ruff

Deployed f048041 to v1.0.0 with MkDocs 1.4.3 and mike 1.1.2
  v1.0.0/sitemap.xml.gz
Due: ruff

fix: revert device change in classification tests
  tests/tasks/test_classification.py
Due: isort, black, interrogate

fix: Classif. evaluation test now on cpu
  quadra/utils/export.py
  tests/tasks/test_classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Improve single model changelog
  quadra/utils/model_manager.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: SCL inherits from Task, not from LightningTask
  docs/tutorials/tasks.md
Due: ruff

fix: Fix incorrect header on first model registration
  quadra/utils/model_manager.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Cam objects now Optional and initialized as None
  quadra/modules/classification/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Moved common lines before if statement
  quadra/modules/classification/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Pytorch model format has now same name with extension .pth
  quadra/tasks/classification.py
  quadra/utils/export.py
  quadra/utils/vit_explainability.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Add empty line before return statements
  quadra/utils/export.py
  quadra/utils/vit_explainability.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Add with torch.set_grad_enabled(self.gradcam) to evaluation test
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Remove hardcoded input_shape
  quadra/trainers/classification.py
  quadra/utils/models.py
  quadra/utils/vit_explainability.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix docstrings
  quadra/tasks/classification.py
  quadra/utils/vit_explainability.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix classification documentation model.pth
  docs/tutorials/examples/classification.md
Due: ruff

fix: Narrow scikit classifiers' type in pytorch wrapper
  quadra/utils/vit_explainability.py
Due: ruff, isort, black, pylint, mypy, interrogate

add: Add citation in vit_explainability.py
  quadra/utils/vit_explainability.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix model path in classification task test
  tests/tasks/test_classification.py
Due: isort, black, interrogate

add: Add check of classifier type in LinearModelPytorchWrapper
  quadra/utils/vit_explainability.py
  tests/tasks/test_classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix LinearModelPytorchWrapper example_input ValueError message
  quadra/utils/vit_explainability.py
Due: ruff, isort, black, pylint, mypy, interrogate

add: Migrate vit gradcam code + pytorch export format for classificat… (#7)
  docs/tutorials/examples/classification.md
  docs/tutorials/examples/sklearn_classification.md
  quadra/configs/experiment/base/classification/classification.yaml
  quadra/configs/experiment/base/classification/classification_evaluation.yaml
  quadra/configs/experiment/base/classification/sklearn_classification.yaml
  quadra/configs/experiment/base/classification/sklearn_classification_test.yaml
  quadra/configs/model/classification.yaml
  quadra/configs/task/classification.yaml
  quadra/configs/task/classification_evaluation.yaml
  quadra/configs/task/sklearn_classification.yaml
  quadra/configs/task/sklearn_classification_test.yaml
  quadra/modules/classification/base.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/trainers/classification.py
  quadra/utils/classification.py
  quadra/utils/export.py
  quadra/utils/models.py
  quadra/utils/vit_explainability.py
  tests/tasks/test_classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Handle models with multiple inputs when exporting mlflow models
  quadra/utils/mlflow.py
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Fix docstring causing warning in mkdocs, fix invalid reference
  docs/tutorials/tasks.md
  quadra/utils/model_manager.py
  quadra/utils/vit_explainability.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Fix typo
  docs/tutorials/tasks.md
Due: ruff

refactor: Improve typings
  quadra/datamodules/base.py
  quadra/utils/model_manager.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix wrong imports
  quadra/utils/mlflow.py
  quadra/utils/model_manager.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed c622390 to v1.0.0 with MkDocs 1.4.3 and mike 1.1.2
  v1.0.0/reference/quadra/models/classification/base.html
  v1.0.0/reference/quadra/models/classification/index.html
  v1.0.0/reference/quadra/tasks/anomaly.html
  v1.0.0/reference/quadra/tasks/base.html
  v1.0.0/reference/quadra/tasks/classification.html
  v1.0.0/reference/quadra/tasks/index.html
  v1.0.0/reference/quadra/tasks/patch.html
  v1.0.0/reference/quadra/tasks/segmentation.html
  v1.0.0/reference/quadra/tasks/ssl.html
  v1.0.0/search/search_index.json
  v1.0.0/sitemap.xml.gz
  v1.0.0/tutorials/tasks.html
Due: ruff
