Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, pylint, mypy, interrogate

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

style: Improve typings
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

fix: Avoid unbound calls of mlflowclient properties (#152)
  CHANGELOG.md
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

Deployed ee3e8cc to v2.7.2 with MkDocs 1.6.1 and mike 1.1.2
  v2.7.2/reference/CHANGELOG.html
  v2.7.2/reference/quadra/utils/mlflow.html
  v2.7.2/search/search_index.json
  v2.7.2/sitemap.xml
  v2.7.2/sitemap.xml.gz
Due: none

build: Upgrade version
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Upgrade version to 2.7.3 (#154)
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

feat: upgraded mlflow, timm and onnxconverter-common + added new backbones
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/configs/backbone/csatv2.yaml
  quadra/configs/backbone/dinov3_vitb16.yaml
  quadra/configs/backbone/dinov3_vits16.yaml
  quadra/configs/backbone/edgenext_s.yaml
  quadra/configs/backbone/efficientnet_em.yaml
  quadra/configs/backbone/efficientnetv2_b1.yaml
  quadra/configs/backbone/fasternet_t0.yaml
  quadra/configs/backbone/fasternet_t1.yaml
  quadra/configs/backbone/fasternet_t2.yaml
  quadra/configs/backbone/ghostnet_v3.yaml
  quadra/configs/backbone/hgnet_v2.yaml
  quadra/configs/backbone/mobilenet_edgetpu_v2.yaml
  quadra/configs/backbone/mobilenetv4_m.yaml
  quadra/configs/backbone/mobilenetv4_s.yaml
  quadra/configs/backbone/regnety_016.yaml
  quadra/configs/backbone/repvit.yaml
  quadra/configs/backbone/resnet18_ssl.yaml
  quadra/configs/backbone/rexnet.yaml
  quadra/configs/backbone/shvit_s1.yaml
  quadra/configs/backbone/shvit_s2.yaml
  quadra/configs/backbone/shvit_s3.yaml
  quadra/configs/backbone/shvit_s4.yaml
  quadra/configs/backbone/starnet_s2.yaml
  quadra/configs/backbone/starnet_s3.yaml
  quadra/configs/backbone/starnet_s4.yaml
  quadra/configs/backbone/swiftformer_l1.yaml
  quadra/configs/backbone/swiftformer_l3.yaml
  quadra/configs/backbone/swiftformer_s.yaml
  quadra/configs/backbone/swiftformer_xs.yaml
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

fix: mlflow unbound properties when mlflow is not enabled
  CHANGELOG.md
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

feat: update timm import
  quadra/models/classification/backbones.py
  quadra/utils/models.py
Due: pylint, mypy, interrogate

fix: log message and fasternet t2 backbone configuration
  quadra/configs/backbone/fasternet_t2.yaml
  quadra/utils/mlflow.py
Due: pylint, mypy, interrogate

feat: added cleanup step in tests
  .github/workflows/tests.yml
Due: none

feat: removed cleanup step
  .github/workflows/tests.yml
Due: none

fix: Fix wrong field checked in automatic batch size
  CHANGELOG.md
  quadra/utils/evaluation.py
Due: pylint, mypy, interrogate

Feature/upgrade timm mlflow onnxconverter (#155)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/configs/backbone/csatv2.yaml
  quadra/configs/backbone/dinov3_vitb16.yaml
  quadra/configs/backbone/dinov3_vits16.yaml
  quadra/configs/backbone/edgenext_s.yaml
  quadra/configs/backbone/efficientnet_em.yaml
  quadra/configs/backbone/efficientnetv2_b1.yaml
  quadra/configs/backbone/fasternet_t0.yaml
  quadra/configs/backbone/fasternet_t1.yaml
  quadra/configs/backbone/fasternet_t2.yaml
  quadra/configs/backbone/ghostnet_v3.yaml
  quadra/configs/backbone/hgnet_v2.yaml
  quadra/configs/backbone/mobilenet_edgetpu_v2.yaml
  quadra/configs/backbone/mobilenetv4_m.yaml
  quadra/configs/backbone/mobilenetv4_s.yaml
  quadra/configs/backbone/regnety_016.yaml
  quadra/configs/backbone/repvit.yaml
  quadra/configs/backbone/resnet18_ssl.yaml
  quadra/configs/backbone/rexnet.yaml
  quadra/configs/backbone/shvit_s1.yaml
  quadra/configs/backbone/shvit_s2.yaml
  quadra/configs/backbone/shvit_s3.yaml
  quadra/configs/backbone/shvit_s4.yaml
  quadra/configs/backbone/starnet_s2.yaml
  quadra/configs/backbone/starnet_s3.yaml
  quadra/configs/backbone/starnet_s4.yaml
  quadra/configs/backbone/swiftformer_l1.yaml
  quadra/configs/backbone/swiftformer_l3.yaml
  quadra/configs/backbone/swiftformer_s.yaml
  quadra/configs/backbone/swiftformer_xs.yaml
  quadra/models/classification/backbones.py
  quadra/utils/evaluation.py
  quadra/utils/mlflow.py
  quadra/utils/models.py
Due: pylint, mypy, interrogate

fix: anomaly scores normalization by ensuring classification with raw and normalized scores
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/tasks/anomaly.py
  quadra/utils/anomaly.py
  tests/utilities/test_anomaly_utils.py
Due: pylint, mypy, interrogate

fix: device in ensuring predictions after normalization
  quadra/utils/anomaly.py
  tests/utilities/test_anomaly_utils.py
Due: pylint, mypy, interrogate

fix: upgrade anomalib
  poetry.lock
  pyproject.toml
  quadra/utils/anomaly.py
Due: pylint, mypy, interrogate

fix: ensure_scores_consistency now select minimum between nextafter and 1e-3 for avoiding inconsistencies after rounding
  CHANGELOG.md
  quadra/utils/anomaly.py
Due: pylint, mypy, interrogate

Fix/anomaly scores normalization consistency (#156)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/tasks/anomaly.py
  quadra/utils/anomaly.py
  tests/utilities/test_anomaly_utils.py
Due: pylint, mypy, interrogate

feat: added the possibility to use last checkpoint for testing and export instead of best checkpoint
  CHANGELOG.md
  docs/tutorials/configurations.md
  docs/tutorials/export.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/core/default.yaml
  quadra/tasks/anomaly.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/segmentation.py
  tests/tasks/test_anomaly.py
  tests/tasks/test_classification.py
  tests/tasks/test_segmentation.py
Due: pylint, mypy, interrogate

feat: last checkpoint only for segmentation task
  CHANGELOG.md
  docs/tutorials/configurations.md
  docs/tutorials/examples/segmentation.md
  docs/tutorials/export.md
  quadra/configs/core/default.yaml
  quadra/configs/task/segmentation.yaml
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/segmentation.py
  tests/tasks/test_classification.py
  tests/tasks/test_segmentation.py
Due: pylint, mypy, interrogate

docs: update
  CHANGELOG.md
  docs/tutorials/configurations.md
  docs/tutorials/export.md
Due: none

feat: rename parameter
  quadra/configs/task/segmentation.yaml
  quadra/tasks/segmentation.py
  tests/tasks/test_segmentation.py
Due: pylint, mypy, interrogate

feat: rename parameter
  CHANGELOG.md
  docs/tutorials/examples/segmentation.md
  docs/tutorials/export.md
Due: none

tests: added exported model parameters values check
  tests/tasks/test_segmentation.py
Due: interrogate

fix: added patch to smp MixVisionTransformerEncoder
  CHANGELOG.md
  quadra/main.py
  quadra/utils/segmentation.py
  quadra/utils/tests/fixtures/models/segmentation.py
  tests/models/test_export.py
  tests/tasks/test_segmentation.py
  tests/utilities/test_segmentation_utils.py
Due: pylint, mypy, interrogate

fix: tests and add warning when checkpoint_selection value is not correct
  docs/tutorials/export.md
  quadra/main.py
  quadra/tasks/segmentation.py
  tests/models/test_export.py
  tests/tasks/test_segmentation.py
Due: pylint, mypy, interrogate

feature/select-last-checkpoint-segmentation (#157)
  CHANGELOG.md
  docs/tutorials/examples/segmentation.md
  docs/tutorials/export.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/task/segmentation.yaml
  quadra/main.py
  quadra/tasks/anomaly.py
  quadra/tasks/classification.py
  quadra/tasks/segmentation.py
  quadra/utils/segmentation.py
  quadra/utils/tests/fixtures/models/segmentation.py
  tests/models/test_export.py
  tests/tasks/test_anomaly.py
  tests/tasks/test_segmentation.py
  tests/utilities/test_segmentation_utils.py
Due: pylint, mypy, interrogate

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
