Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

ruff:
  name: ruff
  entry: ruff
  language: system

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

isort:
  name: (isort) Sorting import statements
  args:
  - --settings-path=pyproject.toml
  language: python
  entry: isort

black:
  name: (black) Format Python code
  args:
  - --config=pyproject.toml
  language: python
  entry: black

black-jupyter:
  name: (black-jupyter) Format jupyter notebooks
  args:
  - --config=pyproject.toml
  language: python
  entry: black

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

fix: Use best model checkpoint if available by default on lightning task test (#39)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/tasks/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed 3937695 to dev with MkDocs 1.4.3 and mike 1.1.2
  dev/getting_started.html
  dev/reference/CHANGELOG.html
  dev/reference/quadra/tasks/base.html
  dev/reference/quadra/tasks/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: ruff

tests: Add tests checking the equality of exported models outputs
  quadra/utils/tests/fixtures/models/__init__.py
  quadra/utils/tests/fixtures/models/anomaly.py
  quadra/utils/tests/fixtures/models/segmentation.py
  tests/models/test_export.py
Due: isort, black, pylint, interrogate

tests: Add guards to run tests if onnx is not installed, add onnx installation to github tests
  .github/workflows/tests.yml
  tests/models/test_export.py
  tests/tasks/test_anomaly.py
  tests/tasks/test_classification.py
  tests/tasks/test_segmentation.py
  tests/tasks/test_ssl.py
Due: ruff, isort, black, interrogate

style: Fix wrong parentheses
  pyproject.toml
Due: ruff

fix: Fix wrong usage of pytest skipif
  tests/models/test_export.py
Due: isort, black, interrogate

fix: Fix missing parameter pop in export onnx function
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

tests: Remove onnx export from fastflow test
  tests/tasks/test_anomaly.py
Due: isort, black, interrogate

fix: Avoid extracting penultimate patch with partially replicated content
  quadra/utils/patch/dataset.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix improper patch size calculation resulting in more than one extra patch
  quadra/utils/patch/dataset.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.1.2 -> 1.1.3
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update changelog
  CHANGELOG.md
Due: ruff

fix: Allow model wrapper to retrieve input shapes if instance is a torchscript model
  quadra/models/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.1.3 -> 1.1.4
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Tiny improvements to model export
  quadra/tasks/segmentation.py
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Add dictionary mapping export types and paths to model export function return values
  quadra/tasks/anomaly.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/tasks/ssl.py
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix defaults order
  quadra/configs/config.yaml
Due: ruff

refactor: Move get_export_extension function
  quadra/utils/export.py
  quadra/utils/tests/helpers.py
  tests/tasks/test_anomaly.py
  tests/tasks/test_classification.py
  tests/tasks/test_segmentation.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Use iobinding to handle torch inputs for onnx
  quadra/models/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add cpu method to evaluation models
  quadra/models/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix wrong configuration parameter
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix segmentation analysis not working due to missing parameter
  quadra/tasks/segmentation.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: add gpu unit tests
  .gitignore
  Makefile
  quadra/utils/tests/helpers.py
  tests/conftest.py
  tests/tasks/test_anomaly.py
  tests/tasks/test_classification.py
  tests/tasks/test_segmentation.py
  tests/tasks/test_ssl.py
Due: ruff, isort, black, pylint, interrogate

Deployed d2a0895 to dev with MkDocs 1.4.3 and mike 1.1.2
  dev/reference/CHANGELOG.html
  dev/reference/quadra/callbacks/index.html
  dev/reference/quadra/datamodules/generic/index.html
  dev/reference/quadra/index.html
  dev/reference/quadra/losses/index.html
  dev/reference/quadra/modules/index.html
  dev/reference/quadra/utils/index.html
  dev/reference/quadra/utils/patch/dataset.html
  dev/reference/quadra/utils/patch/index.html
  dev/reference/quadra/utils/tests/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: ruff

docs: Add documentation for model import and export
  docs/tutorials/export.md
  mkdocs.yml
Due: ruff

docs: Add export information in documentation
  docs/tutorials/examples/anomaly_detection.md
  docs/tutorials/examples/classification.md
  docs/tutorials/examples/segmentation.md
  docs/tutorials/examples/sklearn_classification.md
  docs/tutorials/examples/sklearn_patch_classification.md
Due: ruff

fix: Fix git information retrieval when working in a repository with no commits
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update chagelog
  CHANGELOG.md
Due: ruff

refactor: Remove references to save_backbone parameter
  docs/tutorials/devices_setup.md
  docs/tutorials/examples/sklearn_classification.md
  docs/tutorials/examples/sklearn_patch_classification.md
  quadra/configs/task/sklearn_classification.yaml
  quadra/configs/task/sklearn_classification_patch.yaml
Due: ruff

docs: Fix wrong typing
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Avoid exporting ModelSignatureWrapper, fix wrong onnx export with multiple inputs
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix multiple inputs not handled properly in onnx evaluation forward
  quadra/models/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add automatic export with strict=False if normal torchscript fails
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix dynamic axes not generated properly when fixed_batch_size isn't passed to configuration
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix logical anomaly evaluation, add temporary fix to TorchscriptEvaluationModel __call__
  quadra/models/evaluation.py
  quadra/tasks/anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

Path conditions:
  ruff: any file but: ^(tests|scripts|notebooks|quadra/utils/tests)/
  jupyter-nb-clear-output: any of: \.ipynb$
  isort: any of: \.py$ and \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
