Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

ruff:
  name: ruff
  entry: ruff
  language: system

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

isort:
  name: (isort) Sorting import statements
  args:
  - --settings-path=pyproject.toml
  language: python
  entry: isort

black:
  name: (black) Format Python code
  args:
  - --config=pyproject.toml
  language: python
  entry: black

black-jupyter:
  name: (black-jupyter) Format jupyter notebooks
  args:
  - --config=pyproject.toml
  language: python
  entry: black

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

Fix logical_anomaly input shape for torchscript export model
  quadra/models/evaluation.py
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

Fix export for anomaly detection new model
  quadra/configs/experiment/base/anomaly/efficient_ad.yaml
  quadra/configs/model/anomalib/efficient_ad.yaml
  quadra/configs/task/anomalib/efficient_ad.yaml
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

Fix logical anomaly evaluation
  quadra/tasks/anomaly.py
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix wrong device used in anomaly detection task
  quadra/configs/experiment/base/anomaly/padim.yaml
  quadra/configs/experiment/base/anomaly/patchcore.yaml
  quadra/configs/model/anomalib/cfa.yaml
  quadra/configs/model/anomalib/csflow.yaml
Due: ruff

Fix num_processes in efficientad experiment config
  quadra/configs/experiment/base/anomaly/efficient_ad.yaml
Due: ruff

Fix: remove paths from efficientnet config
  quadra/configs/model/anomalib/efficient_ad.yaml
Due: ruff

Fix: add model name in padim
  quadra/configs/model/anomalib/padim.yaml
  quadra/configs/task/anomalib/efficient_ad.yaml
Due: ruff

feat: Improve efficientad configuration, add generic experiment
  quadra/configs/experiment/base/anomaly/efficient_ad.yaml
  quadra/configs/model/anomalib/efficient_ad.yaml
Due: ruff

feat: Add generic configuration
  quadra/configs/experiment/generic/mvtec/anomaly/efficient_ad.yaml
Due: ruff

build: Update anomalib requirement
  pyproject.toml
Due: ruff

docs: Update changelog
  CHANGELOG.md
Due: ruff

Add: efficientad test
  quadra/configs/experiment/base/anomaly/efficient_ad.yaml
  tests/tasks/test_anomaly.py
Due: ruff, isort, black, interrogate

fix: efficient_ad test is now indipendent from our machine paths
  quadra/configs/model/anomalib/efficient_ad.yaml
  quadra/utils/tests/fixtures/dataset/__init__.py
  quadra/utils/tests/fixtures/dataset/anomaly.py
  tests/tasks/test_anomaly.py
Due: ruff, isort, black, pylint, interrogate

tests: Refactor imagenette fixture in its own file
  quadra/utils/tests/fixtures/dataset/__init__.py
  quadra/utils/tests/fixtures/dataset/anomaly.py
  quadra/utils/tests/fixtures/dataset/imagenette.py
Due: isort, black, pylint, interrogate

Fix/model wrapper torchscript (#43)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/models/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

Fix: using dictionary get() method for retrocompatibility
  quadra/tasks/anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Remove merge conflict error
  CHANGELOG.md
Due: ruff

docs: Add efficientAd documentation
  docs/tutorials/examples/anomaly_detection.md
Due: ruff

Feature/aig 1504 logical anomaly (#45)
  CHANGELOG.md
  docs/tutorials/examples/anomaly_detection.md
  pyproject.toml
  quadra/configs/experiment/base/anomaly/efficient_ad.yaml
  quadra/configs/experiment/base/anomaly/patchcore.yaml
  quadra/configs/experiment/generic/mvtec/anomaly/efficient_ad.yaml
  quadra/configs/model/anomalib/cfa.yaml
  quadra/configs/model/anomalib/csflow.yaml
  quadra/configs/model/anomalib/efficient_ad.yaml
  quadra/configs/model/anomalib/padim.yaml
  quadra/configs/task/anomalib/efficient_ad.yaml
  quadra/tasks/anomaly.py
  quadra/utils/tests/fixtures/dataset/__init__.py
  quadra/utils/tests/fixtures/dataset/imagenette.py
  tests/tasks/test_anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: update mkdocs dependecies and fix all versions
  docs/tutorials/model_management.md
  pyproject.toml
  quadra/datasets/ssl.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: update changelog
  CHANGELOG.md
Due: ruff

fix: Avoid using cuda on gradcam when model device is cpu, fix missing parameter in test
  quadra/modules/classification/base.py
  tests/tasks/test_ssl.py
Due: ruff, isort, black, pylint, mypy, interrogate

add: Add probabilities to metadata
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Avoid using cuda on gradcam when model device is cpu, fix missing parameter in test (#49)
  quadra/modules/classification/base.py
  tests/tasks/test_ssl.py
Due: ruff, isort, black, pylint, mypy, interrogate

Feature/update mkdocs (#48)
  CHANGELOG.md
  docs/tutorials/model_management.md
  pyproject.toml
  quadra/datasets/ssl.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: add acknowledgements
  README.md
Due: ruff

docs: fix makefile
  Makefile
Due: ruff

Feature/acknowledgement (#51)
  CHANGELOG.md
  Makefile
  README.md
Due: ruff

feat: Add probabilities to metadata (#50)
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed e163034 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/getting_started.html
  dev/reference/CHANGELOG.html
  dev/reference/quadra/tasks/classification.html
  dev/reference/quadra/tasks/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: ruff

feat:
  quadra/configs/datamodule/base/anomaly.yaml
  quadra/configs/datamodule/base/classification.yaml
  quadra/configs/datamodule/base/multilabel_classification.yaml
  quadra/configs/datamodule/base/segmentation.yaml
  quadra/configs/datamodule/base/segmentation_multiclass.yaml
  quadra/configs/datamodule/base/sklearn_classification.yaml
  quadra/configs/datamodule/base/sklearn_classification_patch.yaml
  quadra/configs/datamodule/base/ssl.yaml
Due: ruff

docs: docs: add hash section for datamodules
  docs/tutorials/datamodules.md
Due: ruff

fix: update hash argument name
  docs/tutorials/datamodules.md
Due: ruff

Feature/improve hash docs (#52)
  CHANGELOG.md
  docs/tutorials/datamodules.md
  quadra/configs/datamodule/base/anomaly.yaml
  quadra/configs/datamodule/base/classification.yaml
  quadra/configs/datamodule/base/multilabel_classification.yaml
  quadra/configs/datamodule/base/segmentation.yaml
  quadra/configs/datamodule/base/segmentation_multiclass.yaml
  quadra/configs/datamodule/base/sklearn_classification.yaml
  quadra/configs/datamodule/base/sklearn_classification_patch.yaml
  quadra/configs/datamodule/base/ssl.yaml
Due: ruff

Deployed 17993c7 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/reference/CHANGELOG.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/tutorials/datamodules.html
Due: ruff

Path conditions:
  ruff: any file but: ^(tests|scripts|notebooks|quadra/utils/tests)/
  jupyter-nb-clear-output: any of: \.ipynb$
  isort: any of: \.py$ and \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
