Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

ruff:
  name: ruff
  entry: ruff
  language: system

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

isort:
  name: (isort) Sorting import statements
  args:
  - --settings-path=pyproject.toml
  language: python
  entry: isort

black:
  name: (black) Format Python code
  args:
  - --config=pyproject.toml
  language: python
  entry: black

black-jupyter:
  name: (black-jupyter) Format jupyter notebooks
  args:
  - --config=pyproject.toml
  language: python
  entry: black

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

fix: Change matplotlib backend to solve slowdown issue
  quadra/callbacks/anomalib.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Change pandas version to be <2.0.0, upgrade anomalib version
  pyproject.toml
Due: ruff

build: Bump version 1.3.0 -> 1.3.1
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update changelog
  CHANGELOG.md
Due: ruff

build: Upgrade pandas requirement version (#76)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: add same version of mlflow for skinny package
  pyproject.toml
Due: ruff

build: Bump version 1.3.1 -> 1.3.2
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: update changelog
  CHANGELOG.md
Due: ruff

fix: mlflow versioning (#77)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

test: Relax pytest install requirement, add pytest env and env variables for tests
  pyproject.toml
Due: ruff

test: Refactor torch thread limiter function
  tests/conftest.py
Due: isort, black, interrogate

build: Bump version 1.3.2 -> 1.3.3
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

libraries: Update anomalib to 0.7.0 + 1.2.5
  CHANGELOG.md
  pyproject.toml
Due: ruff

Improve env variables handling for pytest (#79)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  tests/conftest.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update version since main got one version forward
  CHANGELOG.md
Due: ruff

build: Bump version 1.3.3 -> 1.3.4
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Update anomalib to 0.7.0 + 1.2.5 (#80)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Order the dataset samples
  quadra/datasets/anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

format: better formatting
  quadra/datasets/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: remove print
  quadra/datasets/anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.3.4 -> 1.3.5
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

Set cublas single buffer when determinism is requested
  quadra/main.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.3.5 -> 1.3.6
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: versions, changelog
  CHANGELOG.md
  pyproject.toml
Due: ruff

libs: Update anomalib version
  pyproject.toml
Due: ruff

fix: Change matplotlib backend in anomaly visualizer
  quadra/callbacks/anomalib.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Update last version in changelog
  CHANGELOG.md
Due: ruff

Solve mypy warning
  quadra/callbacks/anomalib.py
Due: ruff, isort, black, pylint, mypy, interrogate

types: Solve arg-type mypy warning
  quadra/callbacks/anomalib.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix error types
  quadra/callbacks/anomalib.py
Due: ruff, isort, black, pylint, mypy, interrogate

Path conditions:
  ruff: any file but: ^(tests|scripts|notebooks|quadra/utils/tests)/
  jupyter-nb-clear-output: any of: \.ipynb$
  isort: any of: \.py$ and \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
