Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, pylint, mypy, interrogate

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

wip: Testing bitbucket pipelines
  .github/workflows/release.yml
Due: none

wip: Temporary try new version
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Update pipeline to publish on pypi
  .github/workflows/release.yml
Due: none

build: Revert correct version
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

feat: Relase package on PyPI (#126)
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

fix: Add guard for onnx related package import
  quadra/utils/export.py
Due: pylint, mypy, interrogate

build: Update version and changelog
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

docs: Update minor errors
  README.md
  docs/tutorials/configurations.md
Due: none

docs: Minor docs improvements
  docs/tutorials/examples/segmentation.md
  docs/tutorials/examples/ssl.md
Due: none

docs: Minor doc fix
  docs/tutorials/examples/anomaly_detection.md
Due: none

test
  prova.txt
Due: none

docs: Update changelog
  CHANGELOG.md
Due: none

refactor: Disable interactive backend for matplotlib
  quadra/main.py
Due: pylint, mypy, interrogate

feat: Make quadra fail if mixed precision export doesn't terminate correctly
  quadra/utils/export.py
Due: pylint, mypy, interrogate

fix: Fix broken default installation (#127)
  CHANGELOG.md
  README.md
  docs/tutorials/configurations.md
  docs/tutorials/examples/anomaly_detection.md
  docs/tutorials/examples/segmentation.md
  docs/tutorials/examples/ssl.md
  pyproject.toml
  quadra/__init__.py
  quadra/main.py
  quadra/utils/export.py
Due: pylint, mypy, interrogate

build: Update dependencies to retain only opencv-python-headless
  poetry.lock
  pyproject.toml
Due: none

build: Upgrade version, update changelog
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

test: Skip draem test as it doesn't work with the current anomalib dependency
  tests/tasks/test_anomaly.py
Due: interrogate

refactor: Update gradcam integration code to support the new version
  quadra/modules/classification/base.py
  quadra/tasks/classification.py
  quadra/utils/models.py
Due: pylint, mypy, interrogate

feat: Remove opencv python (#128)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/modules/classification/base.py
  quadra/tasks/classification.py
  quadra/utils/models.py
  tests/tasks/test_anomaly.py
Due: pylint, mypy, interrogate

feat: Add model pruning callback from lightning
  quadra/configs/callbacks/default.yaml
  quadra/configs/callbacks/default_anomalib.yaml
Due: none

wip: Test pruning integration
  quadra/tasks/base.py
  quadra/tasks/segmentation.py
Due: pylint, mypy, interrogate

build: Upgrade anomalib, create rc version
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Update version and changelog
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

feat: Upgrade anomalib (#129)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

docs: Update anomalib and quadra version, update changelog
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

refactor: Suppress heavy prints from auto_convert_mixed_precision function
  quadra/utils/export.py
Due: pylint, mypy, interrogate

fix: Update anomalib version (#130)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/utils/export.py
Due: pylint, mypy, interrogate

build: Upgrade onnxruntime version, relax dependency for pydantic
  poetry.lock
  pyproject.toml
Due: none

build: Update version
  quadra/__init__.py
Due: pylint, mypy, interrogate

docs: Update changelog and readme
  CHANGELOG.md
  README.md
Due: none

refactor: Disable logging gradients in default callbacks
  quadra/configs/callbacks/default.yaml
  quadra/configs/callbacks/default_anomalib.yaml
Due: none

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
