Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, pylint, mypy, interrogate

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: (prettier) Reformat YAML files with prettier
        types: [yaml]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: ["--config", "pyproject.toml", "--fix"]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: ["--config", "pyproject.toml"]
    exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [
            "--rcfile=pylintrc", # Link to your config file
          ]
        exclude: ^(tests|scripts|notebooks)/
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          [
            "--non-interactive",
            "--install-types",
            "--follow-imports=silent",
            "--ignore-missing-imports",
            "--config-file=pyproject.toml",
          ]
        exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: interrogate
        name: (interrogate) docstring coverage
        language: python
        types: [python]
        pass_filenames: false
        entry: interrogate

build: Upgrade version, update changelog
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

refactor: Remove gradient logging from default callback, add automatic batch size callback to all callback
  quadra/configs/callbacks/all.yaml
  quadra/configs/callbacks/default.yaml
  quadra/configs/callbacks/default_anomalib.yaml
Due: none

docs: Update changelog
  CHANGELOG.md
Due: none

feat: Remove logging gradients by default (#131)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/callbacks/all.yaml
  quadra/configs/callbacks/default.yaml
  quadra/configs/callbacks/default_anomalib.yaml
Due: pylint, mypy, interrogate

build: Avoid upgrading poetry to 2.0 as it breaks the pipelines
  .github/workflows/docs.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

hotfix: Stop poetry upgrade to 2.0 for pipelines (#132)
  .github/workflows/docs.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CHANGELOG.md
Due: none

build: Update workflows
  .github/workflows/docs.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

refactor: Allow poetry 2 upgrade
  .github/workflows/tests.yml
Due: none

hotfix: Fix pipelines (#133)
  .github/workflows/docs.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Upgrade torch and lightning version, other minor upgrade
  poetry.lock
  pyproject.toml
Due: none

build: Remove tests for deprecated python 3.9
  .github/workflows/tests.yml
Due: none

build: Ignore mypy cache
  .gitignore
Due: none

build: Upgrade version
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Currently use local anomalib for development
  poetry.lock
  pyproject.toml
Due: none

build: Upgrade anomalib
  poetry.lock
  pyproject.toml
Due: none

refactor: Slightly increase automatic mixed precision atol to avoid issues with efficientnet export
  quadra/utils/export.py
Due: pylint, mypy, interrogate

build: Upgrade ruff requirement, apply pre-commits for py310
  .pre-commit-config.yaml
  pyproject.toml
  quadra/__init__.py
  quadra/callbacks/anomalib.py
  quadra/datamodules/base.py
  quadra/datamodules/classification.py
  quadra/datamodules/segmentation.py
  quadra/datasets/anomaly.py
  quadra/datasets/classification.py
  quadra/datasets/patch.py
  quadra/metrics/segmentation.py
  quadra/models/base.py
  quadra/models/evaluation.py
  quadra/modules/base.py
  quadra/modules/ssl/byol.py
  quadra/tasks/anomaly.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/tasks/ssl.py
  quadra/utils/classification.py
  quadra/utils/evaluation.py
  quadra/utils/export.py
  quadra/utils/mlflow.py
  quadra/utils/models.py
  quadra/utils/patch/dataset.py
  quadra/utils/patch/metrics.py
  quadra/utils/utils.py
  quadra/utils/validator.py
  quadra/utils/visualization.py
  quadra/utils/vit_explainability.py
Due: pylint, mypy, interrogate

test: Increase tolerance to allow test to pass
  tests/models/test_export.py
Due: interrogate

build: Upgrade mypy and pylint version
  poetry.lock
  pylintrc
  pyproject.toml
  quadra/__init__.py
  quadra/callbacks/lightning.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/segmentation.py
  quadra/utils/evaluation.py
  quadra/utils/patch/dataset.py
  quadra/utils/patch/metrics.py
  quadra/utils/patch/visualization.py
  quadra/utils/visualization.py
Due: pylint, mypy, interrogate

build: Update minimum python version for pylint to 3.10
  pylintrc
  quadra/utils/patch/dataset.py
  quadra/utils/patch/metrics.py
  quadra/utils/patch/visualization.py
Due: pylint, mypy, interrogate

build: Update changelog
  CHANGELOG.md
Due: none

build: Run ruff format before ruff
  .pre-commit-config.yaml
Due: none

feat: Upgrade pytorch, lightning and onnxruntime (#134)
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  poetry.lock
  pylintrc
  pyproject.toml
  quadra/__init__.py
  quadra/callbacks/anomalib.py
  quadra/callbacks/lightning.py
  quadra/datamodules/base.py
  quadra/datamodules/classification.py
  quadra/datamodules/segmentation.py
  quadra/datasets/anomaly.py
  quadra/datasets/classification.py
  quadra/datasets/patch.py
  quadra/metrics/segmentation.py
  quadra/models/base.py
  quadra/models/evaluation.py
  quadra/modules/base.py
  quadra/modules/ssl/byol.py
  quadra/tasks/anomaly.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/tasks/ssl.py
  quadra/utils/classification.py
  quadra/utils/evaluation.py
  quadra/utils/export.py
  quadra/utils/mlflow.py
  quadra/utils/models.py
  quadra/utils/patch/dataset.py
  quadra/utils/patch/metrics.py
  quadra/utils/patch/visualization.py
  quadra/utils/utils.py
  quadra/utils/validator.py
  quadra/utils/visualization.py
  quadra/utils/vit_explainability.py
  tests/models/test_export.py
Due: pylint, mypy, interrogate

build: Upgrade documentation packages
  poetry.lock
  pyproject.toml
Due: none

refactor: Reduce mkdocs warnings
  mkdocs.yml
  quadra/callbacks/lightning.py
  quadra/datasets/ssl.py
  quadra/utils/export.py
  quadra/utils/tests/fixtures/dataset/imagenette.py
Due: pylint, mypy, interrogate

build: Upgrade version
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

hotfix: Fix documentation (#135)
  CHANGELOG.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/callbacks/lightning.py
  quadra/datasets/ssl.py
  quadra/utils/export.py
  quadra/utils/tests/fixtures/dataset/imagenette.py
Due: pylint, mypy, interrogate

build: Try to run pipelines using poetry 2
  .github/workflows/docs.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pyproject.toml
  quadra/__init__.py
Due: pylint, mypy, interrogate

build: Add setuptools to docs dependencies
  poetry.lock
  pyproject.toml
Due: none

build: Support releasing docs on pre-release branch
  .github/workflows/docs.yaml
Due: none
