Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

ruff:
  name: ruff
  entry: ruff
  language: system

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

isort:
  name: (isort) Sorting import statements
  args:
  - --settings-path=pyproject.toml
  language: python
  entry: isort

black:
  name: (black) Format Python code
  args:
  - --config=pyproject.toml
  language: python
  entry: black

black-jupyter:
  name: (black-jupyter) Format jupyter notebooks
  args:
  - --config=pyproject.toml
  language: python
  entry: black

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

fix: Improve anomaly threshold usage in inference task (#67)
  CHANGELOG.md
  docs/tutorials/examples/anomaly_detection.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/experiment/base/anomaly/inference.yaml
  quadra/tasks/anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.2.6 -> 1.3.0
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed 786cca5 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/reference/CHANGELOG.html
  dev/reference/quadra/callbacks/index.html
  dev/reference/quadra/datamodules/generic/imagenette.html
  dev/reference/quadra/datamodules/generic/index.html
  dev/reference/quadra/index.html
  dev/reference/quadra/losses/index.html
  dev/reference/quadra/models/index.html
  dev/reference/quadra/modules/index.html
  dev/reference/quadra/tasks/anomaly.html
  dev/reference/quadra/utils/index.html
  dev/reference/quadra/utils/tests/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/tutorials/examples/anomaly_detection.html
Due: ruff

feat: Add automatic batch size callback in anomalib callbacks config
  quadra/configs/callbacks/default_anomalib.yaml
Due: ruff

docs: Update changelog
  CHANGELOG.md
Due: ruff

docs: Add information about automatic batch size for training
  docs/tutorials/examples/anomaly_detection.md
  docs/tutorials/examples/sklearn_classification.md
  docs/tutorials/examples/sklearn_patch_classification.md
Due: ruff

fix: Fix wrong parameter name
  quadra/configs/callbacks/default_anomalib.yaml
Due: ruff

fix: Fix number of threads for torch not set properly, set onnx threads for export
  tests/conftest.py
  tests/models/test_export.py
Due: isort, black, interrogate

docs: Fix wrong parameter name
  docs/tutorials/examples/anomaly_detection.md
Due: ruff

feat: Add improvement over lightning callback to fix training stage issue and allow selecting application stages
  pyproject.toml
  quadra/callbacks/lightning.py
  quadra/configs/callbacks/default.yaml
  quadra/configs/callbacks/default_anomalib.yaml
Due: ruff, isort, black, pylint, mypy, interrogate

Revert "feat: Add improvement over lightning callback to fix training stage issue and allow selecting application stages"
  pyproject.toml
  quadra/callbacks/lightning.py
  quadra/configs/callbacks/default.yaml
  quadra/configs/callbacks/default_anomalib.yaml
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix classificatio crash when only images without gt are used for testing
  quadra/utils/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.2.6 -> 1.2.7
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix classification crash when only images without gt are used
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/utils/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed d473e25 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/reference/CHANGELOG.html
  dev/reference/quadra/utils/classification.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: ruff

feat: Add automatic batch size and safe testing (#68)
  CHANGELOG.md
  docs/tutorials/examples/anomaly_detection.md
  docs/tutorials/examples/sklearn_classification.md
  docs/tutorials/examples/sklearn_patch_classification.md
  pyproject.toml
  quadra/__init__.py
  quadra/callbacks/lightning.py
  quadra/configs/callbacks/default.yaml
  quadra/configs/callbacks/default_anomalib.yaml
  quadra/configs/task/sklearn_classification.yaml
  quadra/configs/task/sklearn_classification_patch.yaml
  quadra/tasks/anomaly.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/utils/classification.py
  quadra/utils/evaluation.py
  quadra/utils/models.py
Due: ruff, isort, black, pylint, mypy, interrogate

test: Improve test speed, fix tasks crashing when no checkpoint is provided
  .github/workflows/tests.yml
  CHANGELOG.md
  docs/tutorials/examples/anomaly_detection.md
  pyproject.toml
  quadra/configs/callbacks/default_anomalib.yaml
  quadra/tasks/anomaly.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/segmentation.py
  quadra/utils/export.py
  quadra/utils/tests/fixtures/dataset/anomaly.py
  quadra/utils/tests/fixtures/dataset/classification.py
  quadra/utils/tests/fixtures/dataset/segmentation.py
  tests/conftest.py
  tests/models/test_export.py
  tests/tasks/test_anomaly.py
  tests/tasks/test_classification.py
  tests/tasks/test_segmentation.py
Due: ruff, isort, black, pylint, mypy, interrogate

test: Mark csflow test as slow
  tests/tasks/test_anomaly.py
Due: isort, black, interrogate

Deployed eed3899 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/objects.inv
  dev/reference/CHANGELOG.html
  dev/reference/quadra/callbacks/lightning.html
  dev/reference/quadra/tasks/anomaly.html
  dev/reference/quadra/tasks/base.html
  dev/reference/quadra/tasks/classification.html
  dev/reference/quadra/tasks/index.html
  dev/reference/quadra/tasks/patch.html
  dev/reference/quadra/tasks/segmentation.html
  dev/reference/quadra/utils/classification.html
  dev/reference/quadra/utils/evaluation.html
  dev/reference/quadra/utils/export.html
  dev/reference/quadra/utils/models.html
  dev/reference/quadra/utils/tests/fixtures/dataset/anomaly.html
  dev/reference/quadra/utils/tests/fixtures/dataset/classification.html
  dev/reference/quadra/utils/tests/fixtures/dataset/index.html
  dev/reference/quadra/utils/tests/fixtures/dataset/segmentation.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/tutorials/examples/anomaly_detection.html
  dev/tutorials/examples/sklearn_classification.html
  dev/tutorials/examples/sklearn_patch_classification.html
Due: ruff

test: Mark draem test as slow
  tests/tasks/test_anomaly.py
Due: isort, black, interrogate

Deployed e17eea5 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: ruff

build: Upgrade minimum requirement to python 3.9, fix packages for 3.10 installation
  pyproject.toml
Due: ruff

refactor: Wrong indentation
  pyproject.toml
Due: ruff

docs: Add python 3.10 information in readme
  README.md
Due: ruff

test: Run automations using python 3.10
  .github/workflows/docs.yaml
  .github/workflows/tests.yml
Due: ruff

test: Run automatic tests on both python 3.9 and 3.10
  .github/workflows/tests.yml
Due: ruff

build: Allow installation using python 3.10, deprecate 3.8
  .github/workflows/docs.yaml
  .github/workflows/tests.yml
  README.md
  pyproject.toml
Due: ruff

fix: Fix missing string marks
  .github/workflows/docs.yaml
Due: ruff

Deployed c568794 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/getting_started.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: ruff

feat: update oxford segmentation example
  quadra/configs/datamodule/generic/oxford_pet/segmentation/base.yaml
  quadra/configs/experiment/generic/oxford_pet/segmentation/smp.yaml
  quadra/datamodules/generic/oxford_pet.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: update parameter name for the model
  docs/tutorials/examples/segmentation.md
Due: ruff

feat: update analysis logs
  quadra/tasks/segmentation.py
  quadra/utils/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Use multiclass datamodule for segmentation generic example (#73)
  docs/tutorials/examples/segmentation.md
  quadra/configs/datamodule/generic/oxford_pet/segmentation/base.yaml
  quadra/configs/experiment/generic/oxford_pet/segmentation/smp.yaml
  quadra/datamodules/generic/oxford_pet.py
  quadra/tasks/segmentation.py
  quadra/utils/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed 5677cb3 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/objects.inv
  dev/reference/quadra/datamodules/generic/oxford_pet.html
  dev/reference/quadra/tasks/index.html
  dev/reference/quadra/tasks/segmentation.html
  dev/reference/quadra/utils/evaluation.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/tutorials/examples/segmentation.html
  dev/tutorials/reproducibility.html
Due: ruff

Path conditions:
  ruff: any file but: ^(tests|scripts|notebooks|quadra/utils/tests)/
  jupyter-nb-clear-output: any of: \.ipynb$
  isort: any of: \.py$ and \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
