Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: (prettier) Reformat YAML files with prettier
        types: [yaml]

  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        name: Remove unused variables and imports
        language: python
        entry: autoflake
        types: [python]
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
            "--expand-star-imports",
            "--ignore-init-module-imports",
          ]
        files: \.py$
  - repo: local
    hooks:
      - id: isort
        name: (isort) Sorting import statements
        args: [--settings-path=pyproject.toml]
        language: python
        types: [python]
        files: \.py$
        entry: isort
  - repo: local
    hooks:
      - id: black
        name: (black) Format Python code
        args: [--config=pyproject.toml]
        language: python
        types: [python]
        entry: black
      - id: black-jupyter
        name: (black-jupyter) Format jupyter notebooks
        args: [--config=pyproject.toml]
        language: python
        types: [jupyter]
        entry: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [
            "--rcfile=pylintrc", # Link to your config file
          ]
        exclude: ^(tests|scripts|notebooks)/
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          [
            "--non-interactive",
            "--install-types",
            "--follow-imports=silent",
            "--ignore-missing-imports",
            "--config-file=pyproject.toml",
          ]
        exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: interrogate
        name: (interrogate) docstring coverage
        language: python
        types: [python]
        pass_filenames: false
        entry: interrogate

feat(init): add mkdocs file
  mkdocs.yml
Due: ruff

feat(init): add utility modules
  quadra/utils/__init__.py
  quadra/utils/classification.py
  quadra/utils/deprecation.py
  quadra/utils/evaluation.py
  quadra/utils/export.py
  quadra/utils/imaging.py
  quadra/utils/models.py
  quadra/utils/patch/__init__.py
  quadra/utils/patch/dataset.py
  quadra/utils/patch/metrics.py
  quadra/utils/patch/model.py
  quadra/utils/patch/visualization.py
  quadra/utils/resolver.py
  quadra/utils/segmentation.py
  quadra/utils/tests/__init__.py
  quadra/utils/tests/fixtures/__init__.py
  quadra/utils/tests/fixtures/dataset/__init__.py
  quadra/utils/tests/fixtures/dataset/anomaly.py
  quadra/utils/tests/fixtures/dataset/classification.py
  quadra/utils/tests/fixtures/dataset/segmentation.py
  quadra/utils/tests/helpers.py
  quadra/utils/utils.py
  quadra/utils/validator.py
  quadra/utils/visualization.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add callbacks
  quadra/callbacks/__init__.py
  quadra/callbacks/anomalib.py
  quadra/callbacks/lightning.py
  quadra/callbacks/mlflow.py
  quadra/callbacks/scheduler.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add losses
  quadra/losses/__init__.py
  quadra/losses/classification/__init__.py
  quadra/losses/classification/asl.py
  quadra/losses/classification/focal.py
  quadra/losses/classification/prototypical.py
  quadra/losses/ssl/__init__.py
  quadra/losses/ssl/barlowtwins.py
  quadra/losses/ssl/byol.py
  quadra/losses/ssl/dino.py
  quadra/losses/ssl/hyperspherical.py
  quadra/losses/ssl/idmm.py
  quadra/losses/ssl/simclr.py
  quadra/losses/ssl/simsiam.py
  quadra/losses/ssl/vicreg.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add metrics
  quadra/metrics/__init__.py
  quadra/metrics/segmentation.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add optimizers and schedulers
  quadra/optimizers/__init__.py
  quadra/optimizers/lars.py
  quadra/optimizers/sam.py
  quadra/schedulers/__init__.py
  quadra/schedulers/base.py
  quadra/schedulers/warmup.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add datamodules and datasets
  quadra/datamodules/__init__.py
  quadra/datamodules/anomaly.py
  quadra/datamodules/base.py
  quadra/datamodules/classification.py
  quadra/datamodules/generic/__init__.py
  quadra/datamodules/generic/imagenette.py
  quadra/datamodules/generic/mnist.py
  quadra/datamodules/generic/mvtec.py
  quadra/datamodules/generic/oxford_pet.py
  quadra/datamodules/patch.py
  quadra/datamodules/segmentation.py
  quadra/datamodules/ssl.py
  quadra/datasets/__init__.py
  quadra/datasets/anomaly.py
  quadra/datasets/classification.py
  quadra/datasets/patch.py
  quadra/datasets/segmentation.py
  quadra/datasets/ssl.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add modules and models
  quadra/models/__init__.py
  quadra/models/classification/__init__.py
  quadra/models/classification/backbones.py
  quadra/models/classification/base.py
  quadra/modules/__init__.py
  quadra/modules/backbone.py
  quadra/modules/base.py
  quadra/modules/classification/__init__.py
  quadra/modules/classification/base.py
  quadra/modules/ssl/__init__.py
  quadra/modules/ssl/barlowtwins.py
  quadra/modules/ssl/byol.py
  quadra/modules/ssl/common.py
  quadra/modules/ssl/dino.py
  quadra/modules/ssl/hyperspherical.py
  quadra/modules/ssl/idmm.py
  quadra/modules/ssl/simclr.py
  quadra/modules/ssl/simsiam.py
  quadra/modules/ssl/vicreg.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add tasks
  quadra/tasks/__init__.py
  quadra/tasks/anomaly.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/tasks/ssl.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add trainers
  quadra/trainers/README.md
  quadra/trainers/__init__.py
  quadra/trainers/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add main entry point
  quadra/main.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add documentation
  CHANGELOG.md
  docs/css/mkdocstrings.css
  docs/gen_ref_pages.py
  docs/images/favicon.png
  docs/images/interrogate_badge.svg
  docs/images/orobix_logo.svg
  docs/images/pycharm_debugger.png
  docs/index.md
  docs/javascripts/mathjax.js
  docs/tutorials/configurations.md
  docs/tutorials/contribution.md
  docs/tutorials/datamodules.md
  docs/tutorials/devices_setup.md
  docs/tutorials/documentation.md
  docs/tutorials/examples/anomaly_detection.md
  docs/tutorials/examples/classification.md
  docs/tutorials/examples/multilabel_classification.md
  docs/tutorials/examples/segmentation.md
  docs/tutorials/examples/sklearn_classification.md
  docs/tutorials/examples/sklearn_patch_classification.md
  docs/tutorials/examples/ssl.md
  docs/tutorials/install.md
  docs/tutorials/integration.md
  docs/tutorials/reproducibility.md
  docs/tutorials/tasks.md
  docs_overrides/main.html
  mkdocs.yml
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): add hydra plugin
  hydra_plugins/quarda_searchpath_plugin.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(init): update conda python version
  README.md
Due: ruff

feat(init): add github files
  .github/pull_request_template.md
  .github/workflows/tests.yml
Due: ruff

feat(init) reduce the test matrix range
  .github/workflows/tests.yml
Due: ruff

fix(init): update workflow matrix
  .github/workflows/tests.yml
Due: ruff

fix(init): refactor workflow
  .github/workflows/tests.yml
Due: ruff

feat(init): add pyproject and update slow tests
  .github/workflows/tests.yml
  pyproject.toml
  tests/tasks/test_anomaly.py
Due: ruff, isort, black, interrogate

docs: Update README
  README.md
Due: ruff

feat: Add default experiment configuration
  quadra/configs/experiment/default.yaml
Due: ruff

Deployed 36ab931 to v1.0.0 with MkDocs 1.4.3 and mike 1.1.2
  v1.0.0/sitemap.xml.gz
Due: ruff

Set default version to v1.0.0 with mike 1.1.2
  index.html
Due: ruff

add cname
  CNAME
Due: ruff

delete cname
  CNAME
Due: ruff

Set default version to latest with mike 1.1.2
  index.html
Due: ruff

feat(package): move to pyproject format, update mkdocs and add bumpver
  .bumpversion.cfg
  mkdocs.yml
  pyproject.toml
  requirements.txt
  setup.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Save hash for samples, export data as csv
  quadra/datamodules/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Add xxhash as a requirement
  requirements.txt
Due: ruff

refactor: Add log_model parameter
  quadra/configs/logger/mlflow.yaml
Due: ruff

feat: Implement torchscript model artifact upload using mlflow
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/utils/export.py
  quadra/utils/mlflow.py
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Add noqa to avoid isort removal
  quadra/tasks/base.py
  quadra/utils/mlflow.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat(package): update comments for setup.py
  setup.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs(package): update readme and install
  README.md
  docs/tutorials/examples/anomaly_detection.md
  docs/tutorials/install.md
  docs/tutorials/integration.md
Due: ruff

docs(package): update pip link
  README.md
Due: ruff

feat(package): add issue templates
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_feature_request.yaml
  .github/ISSUE_TEMPLATE/config.yml
Due: ruff
