Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

ruff:
  name: ruff
  entry: ruff
  language: system

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

isort:
  name: (isort) Sorting import statements
  args:
  - --settings-path=pyproject.toml
  language: python
  entry: isort

black:
  name: (black) Format Python code
  args:
  - --config=pyproject.toml
  language: python
  entry: black

black-jupyter:
  name: (black-jupyter) Format jupyter notebooks
  args:
  - --config=pyproject.toml
  language: python
  entry: black

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

fix: Fix wrong typing for network builders kwargs (#30)
  quadra/models/classification/backbones.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed 497b5aa to dev with MkDocs 1.4.3 and mike 1.1.2
  dev/reference/quadra/models/classification/backbones.html
  dev/reference/quadra/models/classification/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  versions.json
Due: ruff

fix: update readme links to always latest (#32)
  README.md
Due: ruff

Deployed 5dca749 to dev with MkDocs 1.4.3 and mike 1.1.2
  dev/getting_started.html
  dev/sitemap.xml.gz
  versions.json
Due: ruff

fix: update image links with correct relative path (#33)
  docs/tutorials/model_management.md
Due: ruff

Deployed 19b9f11 to dev with MkDocs 1.4.3 and mike 1.1.2
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/tutorials/model_management.html
  versions.json
Due: ruff

Feature/1.1.0 docs (#34)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed f097544 to dev with MkDocs 1.4.3 and mike 1.1.2
  dev/reference/CHANGELOG.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  versions.json
Due: ruff

Deployed a2cadc5 to dev with MkDocs 1.4.3 and mike 1.1.2
  dev/reference/quadra/utils/utils.html
  dev/sitemap.xml.gz
Due: ruff

build: Add optional onnx dependencies
  pyproject.toml
Due: ruff

feat: Add onnx export function
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Start logger refactoring
  quadra/utils/logger.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add onnx export capabilities for classification
  quadra/configs/task/classification.yaml
  quadra/datamodules/classification.py
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add onnx export capability
  quadra/configs/task/anomalib/cfa.yaml
  quadra/configs/task/anomalib/cflow.yaml
  quadra/configs/task/anomalib/csflow.yaml
  quadra/configs/task/anomalib/draem.yaml
  quadra/configs/task/anomalib/fastflow.yaml
  quadra/configs/task/anomalib/padim.yaml
  quadra/configs/task/anomalib/patchcore.yaml
  quadra/configs/task/segmentation.yaml
  quadra/configs/task/sklearn_classification.yaml
  quadra/configs/task/sklearn_classification_patch.yaml
  quadra/tasks/anomaly.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/tasks/ssl.py
Due: ruff, isort, black, pylint, mypy, interrogate

wip: Improve onnx export code
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: deprecated link for tutorials in readme file
  CHANGELOG.md
  README.md
Due: ruff

build: Bump version 1.1.0 -> 1.1.1
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Deprecated link for tutorials in readme file
  CHANGELOG.md
  README.md
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add evaluation model wrappers
  quadra/models/evaluation.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/utils/export.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Callback modification in anomalib.py to save the raw images of the segmentation and heatmap out put.
  quadra/callbacks/anomalib.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: default configuration added in default_anomalib.yaml
  quadra/configs/callbacks/default_anomalib.yaml
Due: ruff

docs: Documentation added to CHANGELOG.md and anomaly_detection.md for plot_only_wrong and plot_raw_outputs
  CHANGELOG.md
  docs/tutorials/examples/anomaly_detection.md
Due: ruff

docs: Correction of erroneous text added in anomaly_detection.md
  docs/tutorials/examples/anomaly_detection.md
Due: ruff

feat: Callback modification in anomalib.py to save the raw images of the segmentation and heatmap output. (#37)
  CHANGELOG.md
  docs/tutorials/examples/anomaly_detection.md
  quadra/callbacks/anomalib.py
  quadra/configs/callbacks/default_anomalib.yaml
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed c11bddb to dev with MkDocs 1.4.3 and mike 1.1.2
  dev/reference/CHANGELOG.html
  dev/reference/quadra/callbacks/anomalib.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/tutorials/examples/anomaly_detection.html
Due: ruff

fix: Use best model checkpoint if available by default on lightning task test
  quadra/tasks/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.1.1 -> 1.1.2
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update readme
  CHANGELOG.md
Due: ruff

feat!: Refactor export_config parameter to become its own config to avoid code replication
  docs/tutorials/configurations.md
  docs/tutorials/devices_setup.md
  docs/tutorials/examples/classification.md
  docs/tutorials/examples/multilabel_classification.md
  docs/tutorials/examples/segmentation.md
  docs/tutorials/examples/sklearn_classification.md
  docs/tutorials/examples/sklearn_patch_classification.md
  docs/tutorials/examples/ssl.md
  quadra/configs/experiment/base/classification/classification.yaml
  quadra/configs/experiment/base/classification/multilabel_classification.yaml
  quadra/configs/experiment/base/classification/sklearn_classification.yaml
  quadra/configs/experiment/default.yaml
  quadra/configs/export/default.yaml
  quadra/configs/task/anomalib/cfa.yaml
  quadra/configs/task/anomalib/cflow.yaml
  quadra/configs/task/anomalib/csflow.yaml
  quadra/configs/task/anomalib/draem.yaml
  quadra/configs/task/anomalib/fastflow.yaml
  quadra/configs/task/anomalib/padim.yaml
  quadra/configs/task/anomalib/patchcore.yaml
  quadra/configs/task/anomaly.yaml
  quadra/configs/task/classification.yaml
  quadra/configs/task/segmentation.yaml
  quadra/configs/task/sklearn_classification.yaml
  quadra/configs/task/sklearn_classification_patch.yaml
  quadra/configs/task/ssl.yaml
  quadra/models/base.py
  quadra/tasks/anomaly.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/tasks/ssl.py
  tests/tasks/test_anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Refactor export function to avoid excessive code replication
  quadra/tasks/anomaly.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/tasks/ssl.py
  quadra/utils/export.py
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add inference configuration
  quadra/configs/config.yaml
  quadra/configs/experiment/default.yaml
  quadra/configs/export/default.yaml
  quadra/configs/inference/default.yaml
  quadra/models/evaluation.py
  quadra/tasks/anomaly.py
  quadra/tasks/base.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/tasks/segmentation.py
  quadra/tasks/ssl.py
  quadra/utils/export.py
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Upgrade anomalib version
  pyproject.toml
Due: ruff

tests: Refactor anomaly tests to perform training and inference with onnx and torchscript
  quadra/configs/inference/default.yaml
  quadra/models/evaluation.py
  quadra/utils/export.py
  quadra/utils/tests/helpers.py
  tests/tasks/test_anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

tests: Improve tests for classification related tasks
  quadra/configs/inference/default.yaml
  quadra/models/evaluation.py
  quadra/tasks/classification.py
  quadra/tasks/patch.py
  quadra/utils/export.py
  quadra/utils/models.py
  quadra/utils/tests/fixtures/dataset/classification.py
  quadra/utils/tests/helpers.py
  tests/tasks/test_anomaly.py
  tests/tasks/test_classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

tests: Update segmentation tests with onnx export
  tests/tasks/test_segmentation.py
Due: isort, black, interrogate

tests: Update ssl tests to integrate onnx export
  tests/tasks/test_ssl.py
Due: isort, black, interrogate

tests: Add tests to validate the outputs of exported models
  quadra/utils/export.py
  quadra/utils/tests/fixtures/models/__init__.py
  quadra/utils/tests/fixtures/models/classification.py
  tests/models/test_export.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Add pytest lazy fixtures package to test requirements
  pyproject.toml
Due: ruff

Path conditions:
  ruff: any file but: ^(tests|scripts|notebooks|quadra/utils/tests)/
  jupyter-nb-clear-output: any of: \.ipynb$
  isort: any of: \.py$ and \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
