Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        name: (prettier) Reformat YAML files with prettier
        types: [yaml]

  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        name: Remove unused variables and imports
        language: python
        entry: autoflake
        types: [python]
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
            "--expand-star-imports",
            "--ignore-init-module-imports",
          ]
        files: \.py$
  - repo: local
    hooks:
      - id: isort
        name: (isort) Sorting import statements
        args: [--settings-path=pyproject.toml]
        language: python
        types: [python]
        files: \.py$
        entry: isort
  - repo: local
    hooks:
      - id: black
        name: (black) Format Python code
        args: [--config=pyproject.toml]
        language: python
        types: [python]
        entry: black
      - id: black-jupyter
        name: (black-jupyter) Format jupyter notebooks
        args: [--config=pyproject.toml]
        language: python
        types: [jupyter]
        entry: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [
            "--rcfile=pylintrc", # Link to your config file
          ]
        exclude: ^(tests|scripts|notebooks)/
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          [
            "--non-interactive",
            "--install-types",
            "--follow-imports=silent",
            "--ignore-missing-imports",
            "--config-file=pyproject.toml",
          ]
        exclude: ^(tests|scripts|notebooks|quadra/utils/tests)/
  - repo: local
    hooks:
      - id: interrogate
        name: (interrogate) docstring coverage
        language: python
        types: [python]
        pass_filenames: false
        entry: interrogate

fix: bump version to 1.2.0
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

Deployed b64be78 to v1.2.0 with MkDocs 1.5.2 and mike 1.1.2
  v1.2.0/sitemap.xml.gz
Due: ruff

Deployed b64be78 to dev with MkDocs 1.5.2 and mike 1.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: ruff

fix: Now num_classes is computed automatically in classification task
  quadra/configs/model/classification.yaml
  quadra/datamodules/classification.py
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix evaluation task classifier instantiation
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix evaluaticlassification on datamodule class_to_idx
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix classification evaluation results
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

debug: Add debug log
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Res is now a dataframe
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Removed unused res attribute
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add class_to_idx from directory method to classification datamodule
  quadra/datamodules/classification.py
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Update docs
  docs/tutorials/examples/classification.md
Due: ruff

fix: Fix classification_evaluation class_to_idx
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Remove a log
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Set num_classes in classification evaluation given model_info
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Undo test_dataloader last change, fix multilabel class. test
  quadra/tasks/classification.py
  tests/tasks/test_classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Remove ??? from num_classes in classification base experiment
  quadra/configs/experiment/base/classification/classification.yaml
Due: ruff

fix: set num_classes also when class_to_idx is set in config file
  quadra/datamodules/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

add: Raise ValueError if model_data does not contain classes
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

update: Changelog
  CHANGELOG.md
Due: ruff

build: Bump version 1.2.0 -> 1.2.1
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Order classes alphabetically in _find_classes_from_data_path
  quadra/datamodules/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Automatically compute number of classes for classification tasks
  CHANGELOG.md
  docs/tutorials/examples/classification.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/experiment/base/classification/classification.yaml
  quadra/configs/model/classification.yaml
  quadra/datamodules/classification.py
  quadra/tasks/classification.py
  tests/tasks/test_classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.2.1 -> 1.2.2
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Upgrade quadra requirement
  pyproject.toml
Due: ruff

refactor: Change efficient ad configuration after after anomalib upgrade
  quadra/configs/model/anomalib/efficient_ad.yaml
Due: ruff

refactor: Update imagenette dir
  quadra/configs/model/anomalib/efficient_ad.yaml
Due: ruff

test: Add tests for efficient_ad model export
  quadra/utils/tests/fixtures/models/anomaly.py
  tests/models/test_export.py
Due: isort, black, pylint, interrogate

docs: Update changelog
  CHANGELOG.md
Due: ruff

test: Fix wrong parameter for config
  tests/tasks/test_anomaly.py
Due: isort, black, interrogate

feat: Upgrade anomalib, improve efficient ad configuration
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/configs/model/anomalib/efficient_ad.yaml
  quadra/utils/tests/fixtures/models/anomaly.py
  tests/models/test_export.py
  tests/tasks/test_anomaly.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix datamodule error when only a single image is available for both validation and test
  quadra/utils/patch/dataset.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Remove todo
  quadra/utils/patch/metrics.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Bump version 1.2.2 -> 1.2.3
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Update changelog
  CHANGELOG.md
Due: ruff

docs: Add comment and warning
  quadra/utils/patch/metrics.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix datamodule error when only a single image is available for both validation and test (#61)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/utils/patch/dataset.py
  quadra/utils/patch/metrics.py
Due: ruff, isort, black, pylint, mypy, interrogate
