Repository orobix/quadra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, jupyter-nb-clear-output, isort, black, black-jupyter, pylint, mypy, interrogate

ruff:
  name: ruff
  entry: ruff
  language: system

jupyter-nb-clear-output:
  name: (jupyter-nb-clear-output) Clear jupyter notebook outputs
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

isort:
  name: (isort) Sorting import statements
  args:
  - --settings-path=pyproject.toml
  language: python
  entry: isort

black:
  name: (black) Format Python code
  args:
  - --config=pyproject.toml
  language: python
  entry: black

black-jupyter:
  name: (black-jupyter) Format jupyter notebooks
  args:
  - --config=pyproject.toml
  language: python
  entry: black

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --non-interactive
  - --install-types
  - --follow-imports=silent
  - --ignore-missing-imports
  - --config-file=pyproject.toml

interrogate:
  name: (interrogate) docstring coverage
  language: python
  pass_filenames: false
  entry: interrogate

feat: Hydra plugin integration (#94)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra_hydra_plugin/pyproject.toml
Due: ruff, isort, black, pylint, mypy, interrogate

feat: Add parameter to getattribute to avoid wrong call from parent
  quadra/models/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Add missing methods to ModelSignatureWrapper
  quadra/models/base.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Premajor update
  pyproject.toml
Due: ruff

build: Update lightning version
  poetry.lock
  pyproject.toml
Due: ruff

wip: Change incorrect code after lightning upgrade
  docs/tutorials/devices_setup.md
  quadra/configs/experiment/base/anomaly/cfa.yaml
  quadra/configs/experiment/base/anomaly/cflow.yaml
  quadra/configs/experiment/base/anomaly/csflow.yaml
  quadra/configs/experiment/base/anomaly/draem.yaml
  quadra/configs/experiment/base/anomaly/efficient_ad.yaml
  quadra/configs/experiment/base/anomaly/fastflow.yaml
  quadra/configs/experiment/base/anomaly/padim.yaml
  quadra/configs/experiment/base/anomaly/patchcore.yaml
  quadra/configs/experiment/base/ssl/linear_eval.yaml
  quadra/configs/model/anomalib/cfa.yaml
  quadra/configs/model/anomalib/csflow.yaml
  quadra/configs/trainer/lightning_cpu.yaml
  quadra/configs/trainer/lightning_gpu.yaml
  quadra/configs/trainer/lightning_gpu_bf16.yaml
  quadra/configs/trainer/lightning_gpu_fp16.yaml
  quadra/configs/trainer/lightning_multigpu.yaml
  quadra/modules/ssl/hyperspherical.py
  quadra/tasks/base.py
  quadra/utils/utils.py
Due: ruff, isort, black, pylint, mypy, interrogate

refactor: Update configurations after lightning upgrade
  quadra/configs/experiment/base/anomaly/cfa.yaml
  quadra/configs/experiment/base/anomaly/cflow.yaml
  quadra/configs/experiment/base/anomaly/csflow.yaml
  quadra/configs/experiment/base/anomaly/draem.yaml
  quadra/configs/experiment/base/anomaly/efficient_ad.yaml
  quadra/configs/experiment/base/anomaly/fastflow.yaml
  quadra/configs/experiment/base/anomaly/padim.yaml
  quadra/configs/experiment/base/anomaly/patchcore.yaml
  quadra/configs/model/anomalib/cfa.yaml
  quadra/configs/model/anomalib/csflow.yaml
  quadra/configs/trainer/lightning_cpu.yaml
Due: ruff

build: Upgrade anomalib version
  poetry.lock
  pyproject.toml
Due: ruff

build: Upgrade version
  pyproject.toml
Due: ruff

build: Update lock file
  poetry.lock
Due: ruff

fix: Fix incompatibilities with new lightning package
  quadra/modules/base.py
  quadra/modules/ssl/byol.py
  quadra/modules/ssl/dino.py
  quadra/tasks/classification.py
  quadra/tasks/segmentation.py
  quadra/tasks/ssl.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Limit torch version downloaded by poetry
  poetry.lock
  pyproject.toml
Due: ruff

fix: Sgmentation report now supports multiclass
  quadra/utils/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update CHANGELOG
  CHANGELOG.md
Due: ruff

build: Update version
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Update version
  pyproject.toml
Due: ruff

fix: Setting right vmin vmax in matplotlib plots
  quadra/utils/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix onnx inference not working correclty in half precision with iobindings
  quadra/models/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

test: Increase threshold for fp32 comparison, add fp16 export analysis
  tests/models/test_export.py
Due: isort, black, interrogate

* feat: Segmentation report now supports multiclass (#95)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/utils/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Upgrade version
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

docs: Update changelog
  CHANGELOG.md
Due: ruff

fix: Fix onnx inference not working correclty in half precision with iobindings (#96)
  CHANGELOG.md
  pyproject.toml
  quadra/__init__.py
  quadra/models/evaluation.py
  tests/models/test_export.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Upgrade onnxruntime version
  poetry.lock
  pyproject.toml
Due: ruff

build: Manually fix anomalib lock version
  poetry.lock
Due: ruff

build: Update prerelease version
  pyproject.toml
Due: ruff

build: Fix missing build upgrade
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Move hydra-plugins as groupd dependency
  poetry.lock
  pyproject.toml
Due: ruff

feat: Include best_epoch and last_epoch in segmentation results
  quadra/tasks/segmentation.py
  quadra/utils/evaluation.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix model summary not saved correctly
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Upgrade version, fix poetry version not working properly
  poetry.lock
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

build: Upgrade prerelease version
  pyproject.toml
  quadra/__init__.py
Due: ruff, isort, black, pylint, mypy, interrogate

fix: Fix model summary not saved correctly (#99)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  quadra/__init__.py
  quadra/tasks/classification.py
Due: ruff, isort, black, pylint, mypy, interrogate

test: Disable cuda visible devices call to avoid conflicts with lightning
  tests/conftest.py
Due: isort, black, interrogate

Path conditions:
  ruff: any file but: ^(tests|scripts|notebooks|quadra/utils/tests)/
  jupyter-nb-clear-output: any of: \.ipynb$
  isort: any of: \.py$ and \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  pylint: any of: \.py$, but not: ^(tests|scripts|notebooks)/
  mypy: any of: \.py$, but not: ^(tests|scripts|notebooks|quadra/utils/tests)/
  interrogate: any of: \.py$
